<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DVDBinderDumper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DVDBinderDumper.Properties.Settings>
            <setting name="FirstOptionSelectedIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SecondOptionSelectedIndex" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ThirdOptionSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FirstOptionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SecondOptionEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThirdOptionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedGame" serializeAs="String">
                <value>DarkSouls1</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>855, 388</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeaderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DictionaryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="HeaderLastBrowsedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DictionaryLastBrowsedDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DumpOptionSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </DVDBinderDumper.Properties.Settings>
    </userSettings>
</configuration>